<!doctype html>
<html ng-app="demo">
	<head>
		<title>DiceRollR</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="interface.js"></script>
	</head>

	<body>
		<div ng-controller="Dice">
			<p>Your Total Is: {{response.sum}}</p>
            <p>Individual Dice Rolls Were:{{response.dice}}</p>
            <input type="number" placeholder="6" ng-model="sides">
            <input type="number" placeholder="1" ng-model="quantity">
            <button ng-click='rollDice()'>ROLL!</button>
		</div>
	</body>
</html>